.calendar { 
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    height: 95%;
}

.calendar-body{
    height: 80vh;
}

.column {
    width: 12.8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    border: black solid 1px;
    border-left: none;
}

.time-column {
    width: 8%;
    height: 100%;
    border: black solid 1px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    
}

.hour-spacer{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: black solid 1px;
}

.day-header{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: black solid 1px;
    margin-bottom: 0px;
}





.cell {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    position: relative;
}

.event{
    background-color: #196082;
    width: 90%;
    height: 95%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}



.time {
    height: 40px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #b0b0b0;
}

.time-spacer {
    height: 40px;
    border-bottom: 1px solid #b0b0b0;
}

.hour-row {
    height: 40px;
    min-height: 40px;
}


.top-bar{
    color: white;
    background-color: #196082;
    height: 10vw;
}




